# Override the default log level.  Possible levels are QuietLevel,
#  LogLevel, InfoLevel, and VerboseLevel

log.default.level = LogLevel

# Set a named log level.
#
#   error.<the-name>.level = LogLevel

# Override the default error level.  Possible levels are SilentLevel,
#  ErrorLevel, SevereLevel, WarnLevel, DebugLevel, TraceLevel.

error.default.level =   ErrorLevel     # Set the default error level.

# Set a named error level.
#
#   error.<the-name>.level = ErrorLevel
